* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #1a283f;
}
.workspace{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding:30px
}
.workspace h1{
    font-size:35px;
    color:rgb(30, 16, 16);
    font-weight: 350;
    border-bottom: 1px solid;
    padding-bottom: 30px ;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: rgb(30, 16, 16);
    font-weight: 600;
    padding: 10px;
}
.button{
    background:rgb(226, 223, 223);
    color: rgb(30, 16, 16);
    font-weight: 450;
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.button:hover:not([disabled]){
    background-color:  rgb(30, 16, 16);
    color: aliceblue;
}
.button:disabled{
    cursor: no-drop;
}
#next-btn{
    background-color:#1a283f ;
    color:#fff ;
    font-size: medium;
    font-weight: 400;
    width: 75px;
    height: 20px;
    border: 0;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.correct{
    background: rgb(122, 235, 122);
}
.incorrect{
    background: rgb(245, 71, 71);
}